/* colour variables */
:root{
    --bgcolor: #24273a;
    --timecolor: #c6a0f6;
    --greeting:  	#a6da95;

    /* dropdown buttons */
    --dropbtncolor: #494d64;
    --dropbtn-text: #cad3f5;
    --dropbtnborder: var(--dropbtncolor);
    --dropbtnborder-hover: var(--bgcolor);

    /* dropdown menus */
    --dropdown-bg: #414868;
    --dropdown-text: #cad3f5;
    --dropdown-hover: #939ab7;
    --dropdown-text-hover: #f4dbd6;

}


* {
    font-family: 'JetBrains Mono', monospace;
}

body {
    background-color: var(--bgcolor);
    -moz-user-select: none;
    user-select: none;
}

.container {
    display: flex;
    width: max-content;
    justify-content: center;
    margin: auto;
}

/* Uncomment for space between the top bar buttons */
.container > * { margin: 0 0 0 10px; }


#avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 240px;
    width: 128px;
    height: 128px;
    border-radius:50%;
    border: 2px solid #1d2021;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
}

#greeting {
    font-size: 220%;
    color: var(--greeting);
    margin: auto;
    margin-top: 20px;
    width: 50%;
    text-align: center;
}

#time {
    font-size: 6vw;
    color: var(--timecolor);
    margin: auto;
    margin-top: 280px;
    width: 50%;
    text-align: center;
}

.dropbtn {
    background-color: var(--dropbtncolor);
    color: var(--dropbtn-text);
    width: 180px;
    border: 1px solid var(--dropbtnborder);
    padding: 13px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
}

.dropdown:hover > .dropdown-content {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    transition-delay: 0ms;
}
  
.dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: var(--dropdown-bg);
    min-width: 180px;
    margin-top: 10px;
    z-index: 1;
    border-radius: 8px;
    transition-delay:  .15s;
}
  
.dropdown-content a {
    display: block;
    text-decoration: none;
    color: var(--dropdown-text);
    padding: 12px 16px;
    font-size: 16px;
}

.item {
    padding: 6px;
}

.dropdown-content a:hover {
    background-color: var(--dropdown-hover);
    color: var(--dropdown-text-hover);
    border-radius: 8px;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    height: auto;
}
  
.dropdown:hover .dropbtn {
    border: 1px solid var(--dropbtnborder-hover);
}